/******************************************
/* Base styles
/*******************************************/

/* Apply box-sizing to all elements */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Set base font size*/
/* 62.5% * 1.6rem = 1rem = 10px*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  overflow: hidden;
  background-image: url(/nasa-Pic-Of-The-Day/images/starry-bg.jpg);
  font-family: Helvetica, Arial, sans-serif;
}

/*Ensure layout displays properly across screen sizes*/
html,
body {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  max-width: 100vw;
}

.wrapper {
  padding: 1rem 1rem;
}
h1 {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  color: white;
  margin-top: .5rem;
}
h2 {
  color: white;
  text-align: center;
}
p {
  line-height: 1.5;
}

.shine {
  /* box-shadow: 0 0 2rem .5rem #8F00FF; */
  box-shadow:
  0 0 .6rem .5rem #fff,  /* inner white */
  0 0 .8rem .6rem #f0f, /* middle magenta */
  0 0 2rem .7rem #0ff; /* outer cyan */
}

.hide {
  display: none;
}
/*******************************************/
.input-container {
  text-align: center;
}


.main-results-container{
  display: flex;
  margin: 2rem 0;
  max-height: 70vh;
  max-width: 95vw;
}
.text-container {
  flex: 1 0 auto;
  background-color: white;
  max-width: 55vw;
  max-height: 70vh;
  padding: 1rem 2rem;
}

.embed-container {
  width: 100%;
  max-width: 65vw;
  max-height: 70vh;
  padding: 0;
}
embed {
  flex: 2 0 auto;
  /* max-width: 100%; */
  max-height: 100%;
  object-fit: contain;
}
/* .embed-container {
  position: relative;
  width: 100%;
  max-width: 65vw;
  padding-top: 0;
  max-height: 70vh;
}

.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */


