/******************************************
/* Base styles
/*******************************************/

/* Apply box-sizing to all elements */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Set base font size*/
/* 62.5% * 1.6rem = 1rem = 10px*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-image: url(../images/starry-bg.jpg);
  font-family: Helvetica, Arial, sans-serif;
}

/*Ensure layout displays properly across screen sizes*/
html,
body {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  max-width: 100vw;
}

.wrapper {
  padding: 1rem 1rem;
}

h1 {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  margin: 0 0 .5rem 0;
  background: linear-gradient(#fff, #f0f, #0ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  color: white;
  text-align: center;
  font-size: 3vw;
  margin: .5rem 0 0 0;
}
p {
  line-height: 1.3;
  font-size: 1.3rem;
}

.shine {
  /* box-shadow: 0 0 2rem .5rem #8F00FF; */
  box-shadow: 0 0 0.6rem 0.5rem #fff, /* inner white */ 0 0 0.8rem 0.6rem #f0f,
    /* middle magenta */ 0 0 2rem 0.7rem #0ff; /* outer cyan */
}

.hide {
  display: none;
}
/*******************************************/
.input-container {
  text-align: center;
}
label {
  background-color: white;
  padding: .3rem .6rem;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
input {
  padding: .25rem .5rem;
}
button {
  
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: white;
  border-radius: 4px;
  padding: .25rem .5rem;
  font-weight: 600;
  color: #2d3748;
  border: 1px solid #cbd5e0;
  line-height: 26px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);

}
.results-container {
  max-height: 80vh;
}

.main-results-container {
  display: flex;
  margin: 2rem auto;
  max-height: 70vh;
  max-width: 95vw;
  background-color: white;
}
.text-container {
  flex: 1 0 auto;
  background-color: white;
  max-width: 55vw;
  max-height: 70vh;
  padding: 1rem 3.5rem;
}

.embed-container {
  width: 100%;
  max-width: 70%;
  max-height: 70vh;
  padding: 0;
  display: flex;
}
embed {
  flex: 2 0 auto;
  /* max-width: 100%; */
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 430px) {
  .main-results-container {
    flex-wrap: wrap-reverse;
    max-height: 100%;
  }
  .text-container {
    max-width: 100%;
  }
  .embed-container {
    max-width: 100%;
    max-height: 100%;
  }
  p.hide {
    color: white;
    display: block;
    font-size: 1rem;
    margin: .1rem 0;;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 780px) {
  .description {
    font-size: 1.1rem;
  }
}
